RewriteEngine On
RewriteBase /MboaLearn/

# Si la requete n'est pas un fichier ou dossier existant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger vers le fichier correspondant
RewriteRule ^(.*)$ /MboaLearn/$1 [L]
